div
    input(
        type="range",
        id="timeline-range"
        min="0"
        max="1"
        step="0.0001"
        value="0.25"
        style="width: 100%;"
    )

div#timeline-visualizer.timeline-visualizer
    div#timeline-visualizer-thumb.timeline-visualizer-thumb

style 
    = readFile('./sample.css', dir)