#v-preloader.v-preloader
    span 0%

h2 The ProgressPreloader preloads the resources below.

.preload-resources
    video(
        src="https://ak.picdn.net/shutterstock/videos/1044255715/preview/stock-footage-person-signing-important-document-camera-following-tip-of-the-pen-as-it-signs-crucial-business.webm"
        controls
    )
    video(
        src="https://ak.picdn.net/shutterstock/videos/1070510560/preview/stock-footage-a-wooden-tablet-full-of-carved-signs-in-etruscan-a-civilization-of-italy-in-ancient-times.webm"
        controls
    )
    img(
        src="https://picsum.photos/1920/1920"
        alt="Preload this image"
    )
    img(
        src="https://picsum.photos/1921/1921"
        alt="Preload this image"
    )
    img(
        src="https://picsum.photos/1922/1922"
        alt="Preload this image"
    )
    img(
        src="https://picsum.photos/1923/1923"
        alt="Preload this image"
    )
    img(
        src="https://picsum.photos/1924/1924"
        alt="Preload this image"
    )
    img(
        src="https://picsum.photos/1925/1925"
        alt="Preload this image"
    )
    img(
        src="https://picsum.photos/1926/1926"
        alt="Preload this image"
    )
    img(
        src="https://picsum.photos/1927/1927"
        alt="Preload this image"
    )

style 
    != readFile('./sample.css', dir)